@import url(../../index.scss);

.modal {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-contrast-color-alpha);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &__content {
    padding: 30px;
    background-color: var(--light-contrast-color);
    border-radius: 8px;
    font-size: 1rem;
    color: var(--dark-contrast-color-alpha);

    button {
      padding: 10px 30px;
      color: var(--light-contrast-color);
      border-radius: 8px;
      border: none;
      background-color: var(--primary-color);
      cursor: pointer;
    }
  }
}
