@import url(../../index.scss);

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 500px;
  margin-top: 30px;

  .form-section {
    margin-bottom: 16px;
    width: 230px;

    label {
      width: 100%;
      font-size: 0.85rem;
      font-weight: 500;
      display: block;
      transition: all 0.2s ease-in-out;
      color: var(--light-contrast-color-alpha);
    }

    input {
      width: 100%;
      border: none;
      border-bottom: 1.8px solid var(--light-contrast-color);
      font-size: 1rem;
      font-weight: 500;
      background-color: transparent;
      transition: border-bottom 0.3s ease-in-out;
      color: var(--light-contrast-color);
      cursor: pointer;

      &:hover {
        border-bottom: 1.8px solid var(--dark-contrast-color);
      }

      &:focus {
        outline: transparent;
        border-bottom: 1.8px solid var(--dark-contrast-color);
      }
    }

    &--wide {
      max-width: 500px;
      width: 100%;
    }

    &--btn {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      button {
        border-radius: 8px;
        border: 1px solid transparent;
        font-size: 1rem;
        padding: 20px 50px;
        font-weight: 600;
        font-family: inherit;
        background-color: var(--light-contrast-color);
        color: var(--primary-color);
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: var(--dark-contrast-color);
        }

        &:focus,
        &:focus-visible {
          outline: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  form {
    .form-section {
      &--btn {
        button {
          font-size: 0.85rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  form {
    margin: 30px;
    .form-section {
      width: 100%;
    }
  }
}
