:root {
  --primary-color: #eb5b51;
  --secondary-color: #2a2a2c;
  --light-contrast-color: #ffffff;
  --light-contrast-color-alpha: rgba(255, 255, 255, 0.6);
  --dark-contrast-color: #1b1b1d;
  --dark-contrast-color-alpha: rgba(27, 27, 29, 0.8);

  font-family: Gotham, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--light-contrast-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  scrollbar-color: var(--primary-color) var(--light-contrast-color);
  scrollbar-width: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-contrast-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}